.login-register-widget {
  position: relative;
  display: inline-block;
  margin-left: 1rem; /* Separación con el carrito */
}

/* Tamaño del ícono igual al del carrito */
.login-icon-container img,
.login-icon-container svg,
.login-icon-container i {
  width: 45px;
  height: 45px;
  font-size: 45px;
  cursor: pointer;
}
